<%- include('main_html/header.html') %>
  <style>
    .card {
      margin-bottom: 20px;
    }

    .add-cart-product {
      background-color: cadetblue;
      color: white;
      border: none;
      text-align: center;
      width: 100%;
    }

    .buy-cart-product {
      color: white;
      background-color: red;
      border: none;
      text-align: center;
      width: 100%;
      text-decoration: none;
    }

    .buy-cart-product:hover {
      text-decoration: none;
      background-color: #ccc;
      color: white;
    }

    .btn-controller {
      display: flex;
      height: 30px;
    }

    .card-img-top {
      width: 150px !important;
      height: auto;
    }

    .card-body .card-text {
      font-size: 10pt;
      
    }
    .nav-item-sort{
      list-style-type: none;
       background: red;
       margin-top: 10px;
       width: 200px;
       text-align: center;
       margin-bottom: 10px;
    }
    .nav-link {
      /* Tùy chỉnh kiểu chữ, màu và các thuộc tính khác của mục link */
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
    .nav-link:hover{
      color: #ccc;
    }
    .search-form {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      margin: initial;
      padding-left: 20px;
      width: 35%;
    }

    .search-input {
      flex-grow: 1;
      margin-right: 10px;
      width: 100%;
    }
    .nav-product-sort-search{
      display: flex;
    }
  </style>

  <title>Sản phẩm</title>
  <div class="container">
   <div class="mt-2">
    <h2>Sản phẩm</h2>
   </div>
   <div class="nav-product-sort-search">
    <li class="nav-item-sort">
      <a class="nav-link" href="/products?sort=name">Sắp xếp theo tên</a>
    </li>
    <form action="/products" method="get" class="search-form">
      <input type="text" name="search" class="search-input form-control" placeholder="Search...">
      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
    </form>
   </div>
    <% if (products.length> 0) { %>
      <div class="row">
        <% products.forEach(function(product) { %>
          <div class="col-md-3">
            <div class="card">
              <img src="/img/<%= product.image %>" class="card-img-top" alt="Product Image">
              <div class="card-body">
                <form action="/cart" method="POST">
                  <h5 class="card-title" name="name">
                    <%= product.name %>
                  </h5>
                  <p class="card-text" name="originalPrice">Giá gốc: <%= product.originalPrice.toLocaleString()%>
                  </p>
                  <p class="card-text" name="discount">Gia giảm: <%= product.discount.toLocaleString()%>
                  </p>
                  <p class="card-text" name="discountedPrice">Giá đã giảm còn:
                    <%= (product.originalPrice - product.discount).toLocaleString() %>
                  </p>
                  <p class="card-text">Nhà sản xuất: <%= product.category %>
                  </p>
                  <div class="btn-controller">
                    <input type="hidden" name="name" value="<%= product.name %>">
                    <input type="hidden" name="originalPrice" value="<%= product.originalPrice %>">
                    <input type="hidden" name="discount" value="<%= product.discount %>">
                    <input type="hidden" name="discountedPrice"
                      value="<%= (product.originalPrice - product.discount) %>">
                    <button type="submit" class="add-cart-product">Thêm vào giỏ</button>
                    <a href="/checkout" class="buy-cart-product">Thanh toán</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
      <% } else { %>
        <p>No products available.</p>
        <% } %>
  </div>

  <%- include('main_html/footer.html') %>